<div class="container-fluid" style="margin-top: 80px;width:90%;">

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Student</th>
        <th>Mentor</th>
        <th >Status</th>
        <th >Pay Status</th>
        <th >Amount</th>
        <th >Rate</th>
        <th ></th>
      </tr>
      </thead>
      <tbody *ngFor="let item of trainList; let i = index">
      <tr>
        <td>{{item.start_date | date:'yyyy-MM-dd'}}</td>
        <td>{{item.end_date| date:'yyyy-MM-dd'}}</td>
        <td>{{item.studentEmail}}</td>
        <td>{{item.mentorEmail}}</td>
        <td>{{item.status}}</td>
        <td>{{item.payStatus}}</td>
        <td>{{item.payAmount}}</td>
        <td>{{item.point}}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="pay(item.id)" *ngIf="role=='user'&&item.status=='accept'">pay</button>&nbsp;
          <button type="button" class="btn btn-success" (click)="acceptOrReject(item.id,'accept')" *ngIf="role=='mentor'&&item.status=='apply'">accept</button>&nbsp;
          <button type="button" class="btn btn-danger" (click)="acceptOrReject(item.id,'reject')" *ngIf="role=='mentor'&&item.status=='apply'">reject</button>&nbsp;
          <button type="button" class="btn btn-info" (click)="viewDetail(item.id,detail)" *ngIf="item.status=='start'||item.status=='finish'">view train detail</button>&nbsp;
          <button type="button" class="btn btn-info" (click)="viewPayInfo(item.id,payModal)" *ngIf="role=='mentor'&&(item.status=='start'||item.status=='finish')">view pay detail</button>&nbsp;

        </td>
      </tr>
      </tbody>
    </table>

<!--  </form>-->

  <ng-template #detail class='modal-lg'>
    <div class="modal-header">
      <h4 class="modal-title pull-left"></h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="trainModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Train Detail</h1>
      </div>

      <table class="table table-striped">
        <thead>
        <tr>
          <th>Train Date</th>
          <th>Student</th>
          <th>Mentor</th>
          <th >Status</th>
          <th >Remarks</th>
          <th >Point</th>
          <th ></th>
        </tr>
        </thead>
        <tbody *ngFor="let item of detailList; let i = index">
        <tr>
          <td>{{item.train_date| date:'yyyy-MM-dd'}}</td>
          <td>{{item.studentEmail}}</td>
          <td>{{item.mentorEmail}}</td>
          <td>{{item.status}}</td>
          <td>{{item.remarks}}</td>
          <td>{{item.point}}</td>
          <td>
            <button type="button" class="btn btn-info" (click)="finishClass(item.id)" *ngIf="item.status!='finish'">complete</button>&nbsp;
            <rating [(ngModel)]="rate" [max]="5"  (click)="pointClass(item.id)" *ngIf="item.status=='finish'&&role=='user'"></rating>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </ng-template>

  <ng-template #payModal class='modal-lg'>
    <div class="modal-header">
      <h4 class="modal-title pull-left"></h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="payModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Pay Info</h1>
      </div>

      <table class="table table-striped">
        <thead>
        <tr>
          <th>Stage</th>
          <th>Amount</th>
          <th>Pay Date</th>
        </tr>
        </thead>
        <tbody *ngFor="let item of payList; let i = index">
        <tr>
          <td>{{item.stage}}</td>
          <td>{{item.payAmount}}</td>
          <td>{{item.create_date| date:'yyyy-MM-dd HH:mm:ss'}}</td>
        </tr>
        </tbody>
      </table>

    </div>
  </ng-template>
</div>
